@import 'reset';
@import 'swiper';
@import 'style';

.main-content{
  // background: black;
  color: #fff;
  min-width: 1024px;
}
.navigation-bar{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  padding: 0 10%;
  min-width: 1024px;
  height: 100px;
  font-size: 24px;
}

.font-color{
  color: #333;
}

ul {
  display: inline-block;
}

ul.btn{
  background: black;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #333;
}

.active{
  background-color: #333;
}

#artists{
  margin-top: 100px;
  height: 92vh;
}

#album{
   width: 100%;
   margin: 0 auto;
   text-align: center;
   .album-box{
     width: 100%;
      img{
        width: 32.5%;
        padding: 1% 2%;
      }
  }
}
#MV{
  // padding-top: 2%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  video{
    width: 100%
  }
}

.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
  background: rgba(00, 00, 00, 0.8)
}

.reveal-modal {
  // visibility: hidden;
  display: none;
  left: 50%;
  margin-left: -300px;
  width: 520px;
  position: absolute;
  z-index: 101;
  padding: 30px 40px 34px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  -box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  background-color: #FFF;
  top: 20%;
  text-align: center;
  p{
    color: #333;
    padding: 4% 0;
  }
  img{
    max-width: 80%;
  }
}

.reveal-modal.small {
  width: 200px;
  margin-left: -140px;
}

.reveal-modal.medium {
  width: 400px;
  margin-left: -240px;
}

.reveal-modal.large {
  width: 600px;
  margin-left: -340px;
}

.reveal-modal.xlarge {
  width: 800px;
  margin-left: -440px;
}

.reveal-modal .close-reveal-modal {
  font-size: 22px;
  line-height: 0.5;
  position: absolute;
  top: 8px;
  right: 11px;
  color: #333;
  text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
  font-weight: bold;
  cursor: pointer;
}

.heightChange{
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  height: 70px;
  font-size: 16px;
}



