
/*-----light-font----*/
body {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:#ffffff;
}
.wrap {
	width: 80%;
	margin: 0px auto;
}

.end {
	margin: 0;
}

.downloadSmint {
	width:90%;
	max-width: 450px;
	height: auto;
	margin: 0 auto;
	
	display: block;
}
.downloadSmint img, .codeImg {
	width:100%;
	max-width: 445px;
	height: auto;
}
.right-msg span{
	 width: 174px;
	 height: 56px;
	 display: inline-block;
	 background: url(../assets/logo.png) no-repeat 0px 0px;
	 vertical-align: middle;
}
.right-msg{
	float:right;
}
.right-msg span {
	margin: -1.2em 0 0 -1.5em;
}
/*-- start-smartphone_nav --*/

a.button.scroll {
	padding: 16px;
	z-index:99999;
	border: 2px solid #fff;
	position: absolute;
	display:block;
	top: 485px;
	left: 50%;
	border-radius: 30em;
	-webkit-border-radius: 30em;
	-moz-border-radius: 30em;
	-o-border-radius: 30em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a.button.scroll:hover {
	opacity: 0.6;
}
/* services */
.whyus-bg{
	background: url(../assets/whyusbg.jpeg) no-repeat  100% 100%;
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	z-index: -1;
	background-size:cover;

 }
.services {
	padding: 6% 0 7%;
    background: transparent;
	.wrap{
		background: transparent;
	}
}
.services h3{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
}
.services p{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	padding: 0em 0;
	color: #E4E4E4;
	line-height: 1.5em;
	text-align:center;
	margin-bottom: 4%;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_3{
	display: block;
	float:left;
	margin: 1% 3% 0% 0%;
	h4{
		padding: 2%;
	}
}
#Whyus > div > div:nth-child(5) {
	margin-right: 0;
}
.col_1_of_3:first-child { margin-left: 0; }
#Whyus > div > div> img {
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#Whyus > div > div> img:hover {
	opacity: 0.6;
}
.span_1_of_3 {
	width: 30.6%;
	text-align: center;
	margin-top: 1%;
	padding-bottom: 1%;
}
.span_1_of_3 h4 a {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #E4E4E4;
	font-size: 1.6em;
	font-weight: 400;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.span_1_of_3 h4 a:hover{
	color:#F8BC3A;
}
.span_1_of_3  p  {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	padding:0.5em 0;
	color: #E4E4E4;
	line-height: 1.9em;
	font-weight: 100;
	font-style: normal;
}
.span_1_of_3 p a {
	padding: 13px 20px;
	color: #E4E4E4;
	font-size: 0.8755em;
	border: 2px solid #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.span_1_of_3 p a:hover {
	color: #F8BC3A;
	border: 2px solid #F8BC3A;
}
/*--- PORTFOLIO --*/
.portfoliO{
	text-align:center;
	background: #EBEBEA;
	padding: 7% 0;
}
.portfoliO h3{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
}
.portfoliO p{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	padding: 0em 0;
	color: #777;
	line-height: 1.5em;
	text-align:center;
	margin-bottom: 6%;
}
/*---start container --*/
#info {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;				
	background:#fcf8e3;
	border:1px solid  #fbeed5;
	width:95%;
	max-width:900px;
	margin:0 auto 40px auto;
	font-family:arial;
	font-size:12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#info .info-wrapper {
	padding:10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
#info a {
	color:#c09853;
	text-decoration:none;
}
	
#info p {
	margin:5px 0 0 0;
}
.container { 
	position: relative; 
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;	
}
#filters {
	margin:4%;
	padding:0;
	list-style:none;
}
#filters li {
	display:inline-block;
	margin-right: 20px;
}
#filters li span {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	display: block;
	padding: 18px 30px;
	font-weight:600;
	text-decoration: none;
	color: #191919;
	background: #fff;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
#filters li span.active,#filters li span:hover {
	background: #DB5941;
	color:#fff;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 31.3%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
}
.portfolio img {
	border: 15px solid #fff;
	top: 0px !important;
	max-width:100%;
	position: relative;
	opacity: 5;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	width: 80%;
}
.portfolio img:hover {
	border: 15px solid black;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
}
.portfolio .label-bg {
	background: #EA6060;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.portfolio .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}
.portfolio .text-category {
	display:block;
	font-size: 20px;
	text-transform:uppercase;
}
a.popup-with-zoom-anim img {
	
}
.img {
	border: 1px solid #555;
	display: inline-block;
	padding: 10px 13px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.img:hover {
	border: 1px solid #DB5941
}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*---team-members--*/
.team-members{
	padding: 7% 0;
	background: #333;
}
.tm-head{
	text-align:center;
}
.tm-head h3{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
}
.tm-head p{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	padding: 0em 0;
	color: #E4E4E4;
	line-height: 1.5em;
	text-align:center;
	margin-bottom: 6%;
}
.tm-head-grid img{
	width: 90.6%;
	cursor: pointer;
}
.tm-head-grid:hover {
	background:  #c5a2bf;
}
.tm-head-grid {
	width: 30.9%;
	text-align: center;
	float: left;
	margin-right: 3.6%;
	padding-top: 14px;
	background: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.tm-head-grids {
	width: 82%;
	margin: 0 8% 0;
}
.tm-head-grid:nth-child(3){
	margin-right:0;
}
.tm-head-grid h4{
	color: #333;
	font-size: 1.2em;
	font-weight: 400;
	margin: 0.8em 0 0.2em 0;
}
.tm-head-grid h5{
	color: #7C3939;
	margin: 0 auto;
	font-size: 1em;
	padding-bottom: 4%;
}



/*--------social simptip--------*/
[data-tooltip] {
	position: relative;
	display: inline-block;
}
[data-tooltip].simptip-position-bottom:before {
	border-bottom-color: #EEE;
}
[data-tooltip].simptip-position-bottom:after {
	background-color: #EEE;
	color: #777;
}
[data-tooltip]:before {
	content: '';
	position: absolute;
	border-width: 6px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:before, [data-tooltip]:after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	z-index: 999999;
}
[data-tooltip]:after {
	height: 22px;
	padding: 11px 11px 0;
	font-size: 13px;
	line-height: 11px;
	content: attr(data-tooltip);
	white-space: nowrap;
}
[data-tooltip]:hover, [data-tooltip]:focus {
	background-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
	visibility: visible;
	opacity: 1;
}

.text{
	float: left;
}
.text span {
	font-size: 1em;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 400;
	position: absolute;
	top: 32px;
	left: 29%;
	z-index: 1;
}
.text_p{
	text-align: right;
	position: relative;
	top: 32px;
	right: 22%;
}
.text_p span{
	font-size: 1em;
	color: #fff;
}



/*---start-footer---*/
.bottom-footer{
	background: #EBEBEA;
}
.bottom-footer-left{
	text-align: center;
}
.bottom-footer-left p{
	font-size: 1em;
	color: #777;
	margin-top: 1.5em;
}
.bottom-footer-left p span{
	font-size: 1em;
	color: #333;
	margin-top: 1.5em;
}
.bottom-footer-left p a{
	color:#49CBCD;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
} 
.bottom-footer-left p a:hover{
	color:#2A80B9;
}
.bottom-social-icons li a {
	width: 45px;
	height: 45px;
	display: block;
	border-radius: 30em;
	-webkit-border-radius: 30em;
	-moz-border-radius: 30em;
	-o-border-radius: 30em;
}
.bottom-footer {
	padding: 2% 0;
    text-align: center;
  ul{
    background: #EBEBEA;
  }
}
.bottom-social-icons li{
	display: inline-block;
	margin: 0.5em 0.2em;
}
.bottom-twitter {
	background: url(../assets/top-social-icons.png) no-repeat 12px -20px #D2D2D1;
}
.bottom-twitter:hover {
	background: url(../assets/top-social-icons.png) no-repeat 12px 12px #D2D2D1;
}
.bottom-facebook{
	background: url(../assets/top-social-icons.png) no-repeat -243px -21px #D2D2D1;
}
.bottom-facebook:hover{
	background: url(../assets/top-social-icons.png) no-repeat -243px 10px #D2D2D1;
}
.bottom-pin{
	background: url(../assets/top-social-icons.png) no-repeat -75px -20px #D2D2D1;
}
.bottom-pin:hover{
	background: url(../assets/top-social-icons.png) no-repeat -75px 12px #D2D2D1;
}
.bottom-google{
	background:url(../assets/top-social-icons.png) no-repeat -115px -21px #D2D2D1;
}
.bottom-google:hover{
	background:url(../assets/top-social-icons.png) no-repeat -115px 11px #D2D2D1;
}
.bottom-youtu{
	background:url(../assets/top-social-icons.png) no-repeat -157px -21px #D2D2D1;
}
.bottom-youtu:hover{
	background:url(../assets/top-social-icons.png) no-repeat -157px 11px #D2D2D1;
}
.bottom-social-icons {
	// width:22%;
	margin: 0 auto;
}
.bottom-footer-center{
	border-bottom: 1px solid;
    display: flex;
    align-items: center;
    padding-bottom: 2%;
	ul,li,a{
		color: #333;
		p{
			font-size: 20px;
			font-weight: bold;
		}
		.text{
			height: 45px;
			line-height: 45px;
		}
	}

}
/*---End-footer----*/
/* topup */
// #toTop {
// 	display: none;
// 	text-decoration: none;
// 	position: fixed;
// 	bottom: 10px;
// 	right: 10px;
// 	overflow: hidden;
// 	width: 44px;
// 	height: 44px;
// 	border: none;
// 	text-indent: 100%;
// 	background: url(../assets/img/top_move.png) no-repeat right top;
// }

/***** Media Quries *****/
@media only screen and (max-width: 1366px) {
	.wrap{
		width:95%;
	}	
	.form {
		width: 47%;
	}
	a.button.scroll img{
		padding: 13px;
	}
	.right-msg span {
		margin: -1.2em 0 0 -4.5em;
	}
	a.button.scroll {
		padding: 1px;
	}
}

.contact_form {
	width: 50%;
	margin: 0 auto;
}
.contact_form span{
	float: left;
	width: 100%;
	margin-bottom: 2%;
}
.contact_form span label {
	float: right;
	position: relative;
	top: -45px;
}
.contact_form span label1 {
	float: right;
	position: relative;
	top: -225px;
}
.contact_form span.left{
}
.contact_form input[type="text"], .contact_form textarea {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #FFFFFF;
	border: none;
	color: #525252;
	padding: 16px 50px 16px 16px;
	font-size: 0.8755em;
	display: block;
	width: 91%;
	outline: none;
	-webkit-appearance: none;
	text-transform: capitalize;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.contact_form input[type="text"]:hover,.contact_form textarea:hover {
	
}
.contact_form textarea{
	margin: 0 0 3%;
	resize:none;
	height:180px;	
}
.contact_form input[type="submit"]{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
	cursor:pointer;
	color: #fff;
	background: #af5050;
	border:none;
	outline:none;
	display: inline-block;
	padding: 15px 40px;
	font-size:1em;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.contact_form input[type="submit"]:hover{
	color: #fff;
	background: #2A80B9;
}
.form-box{
	display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-direction: row;
	.msg-box{
		width: 50%;
		ul{
			display: flex;
			flex-direction: column;
			align-items: center;
			li{
				border-bottom: 1px solid #EBEBEA;
				padding: 3%;
				p{
					font-size: 24px;
                    font-weight: bold;
					padding-bottom: 3%;
				}
				a{
					padding: 0;
					padding: 2%;
				}
			}
		}
	}
}